.loading-skeleton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .loading-skeleton {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    flex: 1; /* Hace que cada LoadingSkeleton ocupe el mismo espacio en la fila */
    margin-right: 20px; /* Agrega un margen entre cada LoadingSkeleton */
  }
  
  .loading-header {
    height: 40px;
    width: 90%; /* Ajusta el ancho según tus preferencias */
    background-color: #e0e0e0;
    margin-bottom: 20px;
  }
  
  .loading-button {
    height: 50px;
    width: 300px; /* Ajusta el ancho según tus preferencias */
    background-color: #e0e0e0;
    margin-bottom: 20px;
  }
  
  .loading-row {
    height: 30px;
    width: 90%; /* Ajusta el ancho según tus preferencias */
    background-color: #e0e0e0;
    margin-bottom: 10px;
  }
  